  <style>
   BODY {
    background: linear-gradient(to bottom right, white, red) no-repeat;
   }
   </style>
    <h1>
        <p align="center">
        Создание Блога
    </h1>
    <form method="post" enctype="multipart/form-data">
        <p align="center">
        {% csrf_token %}
        {{ form.title }}<br><br>
        {{ form.task }}<br><br>
        {{ form.cover }}<br><br>
        {{ form.pub_date }}<br><br>
        <span>{{ error }}</span>
        <button class="btn btn-success" type="submit">Добавить блог</button>
    </form>
